@import 'fontawesome/font-awesome';
@import 'bootstrap/bootstrap';

@import 'toycycle/toycycle';

body {
  color: $gray-dark;
  background-color: $white;
}
main {min-height: 65vh;}
footer .navbar {font-size: 75%;}

.jumbotron{
  .special-indent{
    margin-left: 5%;
  }
}

.fadein-enter {
  opacity: 0.01;
}

.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadein-leave {
  opacity: 1;
}

.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fadein-appear {
  opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/**
* Account part HEADER
*/
.account-toggle {
  &:hover {text-decoration: none}
  figure {
    padding: 0.2rem; 
    background: white;
  }
}

/**
* Cards with form inputs 
*/
.card {
  .form-group {
    label {color: $gray-light;}
    .form-control {
      color: $gray-dark;
      background-color: $gray-lighter;
      box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.25);
    }
  }
}

/**
* Group (toy loop card)
*/
.toy-card {
  position: relative; z-index: 1; top: 0;
  transition: all 400ms ease-in-out;

  .card {
    cursor: pointer;

    .card-img-top {
      position: relative; z-index: 2;

      .btn {
        position: absolute; top: 50%; left: 2rem; right: 2rem;
        z-index: 4;
        transform: translateY(-50%);
        opacity: 0; visibility: hidden;
        transition: opacity 400ms ease-in;
      }

      &:before {
        content: '';
        position: absolute; top: 0; left: 0; z-index: 3;
        display: block; width: 100%; height: 100%;
        background-color: rgba(255, 75, 100, 0.32);
        opacity: 0; visibility: hidden;
        transition: opacity 400ms ease-in;
      }
    }

    .line-clamp {
      position: relative; height: 4.5em;
      font-size: 0.9em;
      overflow:hidden;

      &:after {
        content: '';
        position: absolute; bottom: 0; right: 0;
        width: 70%; height: 1.2em;
        text-align: right;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
    }
  }

  &:hover {
    top: -0.5rem;

    .card {
      box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
      .card-img-top {
        img {
          // filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
          // filter: gray;
          // -webkit-filter: grayscale(100%);

          // -webkit-animation: filter-animation 5s infinite;
          // animation: filter-animation 5s infinite;

          -webkit-filter: sepia(0) saturate(2);
          filter: sepia(0) saturate(2);
        }
        .btn, &:before {
          visibility: visible; opacity: 1;
        }
      }
    }
  }
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(0) saturate(2);
  }
  
  50% {
    -webkit-filter: sepia(1) saturate(8);
  }
  
  100% {
    -webkit-filter: sepia(0) saturate(2);
  }
}
@keyframes filter-animation {
  0% {
    filter: sepia(0) saturate(2);
  }
  
  50% {
    filter: sepia(1) saturate(8);
  }
  
  100% {
    filter: sepia(0) saturate(2);
  }
}

.notification-bar.notification-bar-active {
  z-index: 999999;
}

@media (max-width: 768px) {
  /**
  * Nav
  */
  header {
    nav.navbar {
      .navbar-collapse {
        position: relative; z-index: 1;
        margin-top: .7rem;
        color: $pink;
        background: white;
        border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 1px;

        .nav-item {overflow: hidden;}

        .nav-link {
          color: inherit;
          padding-left: .75rem; padding-right: .75rem;
          background: white; 
          &:hover, &:active {color: inherit}
          &.active {
            color: white;
            background: $pink;

            &:hover, &:active {color: white;}
          }
        }
      
      
        &:after {
          content: '';
          position: absolute; z-index: -1;
          top: -8px; right: 19px; width: 16px; height: 16px; display: block;
          background: white; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 2px;
          transform: rotate(45deg);
        }
      }
    }
  }

  /**
  * Front page
  */
  .navbar-toggler {top: 1.5rem;}
  .toy-cycle-home {
    h1 {padding-top: 4rem; font-size: 1.45rem;}
    p.lead {font-size: .8rem;}

    // finder 
    .autocomplete-zip-search-wrapper button {position: static; margin-top: 0.4rem;}
  }

  /**
  * Footer 
  */
  footer {
    .navbar-brand {text-align: center; margin: 0 0 8px;}
    .navbar-collapse {text-align: center;}
  }
}


/**
* Two col layout
*/
.two-col-layout {
  > section {
    width: 75%; float: left;
  }
  > aside {
    width: 22%; float: right;
  }
}


/** 
* FAQ 
*/
.faq {
  div {
    margin-bottom: 45px;
    .question {
      position: relative; z-index: 1;
      padding-left: 30px;
      font-size: 17px; line-height: 30px;

      &:before {
        content: "";
        position: absolute; top: 6px; left: 0px;
        display: block; width: 0; height: 0;
        border-top: 18px solid $green; border-left: 18px solid transparent;
      }
    }
    .answer {
      padding-left: 30px;
      font-style: oblique;
    }
  }
  .pl-30 {padding-left: 30px;}
}

.loading-indicator{display: none;}
.loading-sc {
  position: relative;
  cursor: wait;
  pointer-events: none;
  }
  .loading-sc > div {opacity: 0.2 !important;}
  .loading-sc > .loading-indicator{
    position: fixed; top: 50%; left: 0; right: 0; z-index: 999;
    display: block;
    transform: translateY(-50%);
    color: rgba(254, 25, 132, .9);
    font-size: 2em
  }
  .loading-sc > .loading-indicator:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: rgb(15,15,111);
    animation: loading 3s infinite;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}