.main-placeholder {
  width: 200px;
  position: relative; z-index: 1;

  .actions {
    position: absolute; z-index: 5;
    top: 0; left: 0;
    padding: .5rem;
  }

  .preview-placeholder {
    .btn {
      position: absolute; z-index: 6; top: .5rem; right: .5rem;
    }
    &.on-hover {
      z-index: 10;
      filter: sepia(1);
    }
  }

  .dropzone-custom {
    margin: 0 auto;
    width: 200px; height: 200px; 
    border: 1px dashed rgb(217, 217, 217); // 1px solid rgba(0, 0, 0, .25); 
    border-radius: 5px;
    // background: $gray-lighter;
    // box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.25);

    .rounded-ico {
      width: auto; height: auto;
      font-size: 5rem;

      &::after {display: none;}
    }
    a {text-decoration: underline !important;}
  }
}
.default-src-dropzone {
  position: relative;
  width: 200px;
  border: 1px solid rgb(217, 217, 217); border-radius: 5px;
  overflow: hidden;
  img {display: block; width: 100%; height: auto;}

  .btn {
    position: absolute; top: .5rem; right: .5rem;
  }
}