// search by keyword box
.rounded-input-group {
  position: relative; z-index: 1;
  &:before {
    content: '';
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 1;
    border: 1px solid rgba(0,0,0,0.15); border-radius: 2rem;
  }

  .form-control {
    border: none; padding: .7rem 1.1rem;
    background: none;
  }
  .btn {
    border: none; background: none;
  }
}

.guide-link {
  color: gray;
  clear: right;
  &:hover {
    color: $pink; text-decoration: none;
  }
}

.filters {
  .col {
    .toy-filter {
      width: 60px; height: 60px;
      background-repeat: no-repeat;

      &.show-all {background-position: 0 0;}
      &.age-0-3 {background-position: 0 -60px;}
      &.age-4-8 {background-position: 0 -120px;}
      &.age-9-up {background-position: 0 -180px;}
    }
    
    &:hover,
    &.active {
      .show-all {background-position: -60px 0;}
      .age-0-3 {background-position: -60px -60px;}
      .age-4-8 {background-position: -60px -120px;}
      .age-9-up {background-position: -60px -180px;}
    }
  }
}

.nav-filters {
  .nav {
    .nav-item {
      .nav-link {
        color: #ccc;

        &:hover {color: #aaa;}
        &.active {color: #212121;} 
      }
    }
  }
}

.tc-navigation {
  text-align: center;

  ul.pagination {
    display: inline-block;

    li {float: left;}
  }
}