@import url('https://fonts.googleapis.com/css?family=Kalam');  

.front-hero {
  position: relative;
  background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;

  /* slideshow */
  .swiper-container {
    position: absolute; top: 0; left: 0; z-index: 0;
    width: 100%; height: 100%;
    .swiper-slide {
      background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;
      -webkit-filter: saturate(2) contrast(2) brightness(0.5);
      -moz-filter: saturate(2) contrast(2) brightness(0.5);
      -o-filter: saturate(2) contrast(2) brightness(0.5);
      -ms-filter: saturate(2) contrast(2) brightness(0.5);
      filter: saturate(2) contrast(2) brightness(0.5);
    }

    // & > .swiper-pagination-bullets {bottom: auto; top: 10px;}
    & > .swiper-scrollbar {bottom: auto; top: 3px;}
  }

    /* input group (find zip) */
  .input-find-group {
    position: relative; z-index: 3;
    background: white;
    border: 0.35rem solid white; border-radius: 3rem;
    
    .form-control {
      padding-right: 13rem;
      border-radius: 3rem; border-color:transparent; background: transparent;
      box-shadow: none;
    }
    .input-group-button {
      position: absolute; right: 0; top: 0; z-index: 5;
    }
  }

  @media (max-width: 768px) {
      .input-find-group {
        .form-control {
          padding-right: 1rem;
          text-align: center;
        }
        .input-group-button {
          top: 50px; left: 0;
        }
      }
  }

}

.video-showcase {
  h5 {
    font-family: 'Kalam', cursive; font-size: 1rem;
  }

  .video-trigger {
    position: relative; z-index: 1;
    cursor: pointer;

    i.fa-play {
      position: absolute; top: 50%; left: 50%; z-index: 3;
      margin-left: -2rem; margin-top: -2rem;
      display: block; width: 4rem; height: 4rem;
      color: white; line-height: 4rem; font-size: 1.5rem;
      background: $brand-primary;
      border-radius: 50%;
      box-shadow: 0 0 0 1rem rgba(255, 75, 100, 0.47);
      /* -webkit-transform: translate(-50% -50%);*/
      /* -moz-transform: translate(-50% -50%);*/
      /* -ms-transform: translate(-50% -50%);*/
      /* -o-transform: translate(-50% -50%);*/
      /* transform: translate(-50% -50%);*/
      -webkit-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
    }
  }

  &:hover {
    .video-trigger {
      i.fa-play {
        width: 5.5rem; height: 5.5rem; line-height: 5.5rem; font-size: 2.25rem; margin-top: -2.75rem; margin-left: -2.75rem;
      }
    }
  }
}

.partner-img {
  max-height: 130px; width: auto !important;
}