.rounded-ico {
  position: relative; z-index: 1;
  display: inline-block;
  
  width: 1.5rem; height: 1.5rem;
  font-size: .7rem; line-height: 1.5rem;
  text-align:center;

  border-radius: 50%;

  &:after {
    content: '';
    position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    border: 1px solid; opacity: .5;
    border-radius: 50%;
  }
  &:hover {text-decoration: none;}

  &.sm {
    width: 1rem; height: 1rem;
    font-size: .5rem; line-height: 1rem;
  }
  &.md {
    width: 3rem; height: 3rem;
    font-size: 1.75rem; line-height: 3rem;
  }
  &.lg {
    width: 4.5rem; height: 4.5rem;
    font-size: 2.25rem; line-height: 4.5rem;
  }
  &.nb {
    &:after {display: none;}
  }

  // left carret special case 
  &.fa-caret-left {
    &:before {
      margin-left: -4px;
    }
  }
}

.btn.btn-primary.r-ico {
  position: relative; z-index: 1;
  padding: .7rem 2.75rem .7rem 1rem;
  
  i {
    position: absolute; z-index: 2; top: .4rem; right: .5rem; 
    width: 1.8rem; height: 1.8rem;
    font-size: .85rem; line-height: 1.8rem;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
  }
}

.rounded-input-group {
  input.form-control {
    border-top-left-radius: 3rem; border-bottom-left-radius: 3rem;
    border-right: 0;
  }

  button {border-left: 0;}

}

.protruding-icon-holder {
  position: relative; padding-left: 65px; margin-left: -65px;
  .protruding-icon {
    position: absolute; left: 0; right: 0;
  }
  @media (max-width: 768px) {
    margin-left: 0;
  }

  @media screen and (max-width: 480px) {
    padding-left: 0; margin-left: 0;
    .protruding-icon {display: none;}
  }
}