/**
* Signup NAV & other
*/
.signup {
  
  .signup-nav {
    ul {
      @include make-row();
      position: relative;
      margin: 0 auto 3rem; padding: 0;
      list-style: none;

      li {
        @include make-col(4);

        .step-icon {
          position: relative; z-index: 2;
          width: 4rem; height: 4rem;
          margin: 0 auto 0.75rem;
          font-size: 1.5rem; line-height: 3.75rem;
          background: $body-bg;
          border-radius: 50%;

          &:before {
            content: '';
            position: absolute; top: 0; left: 0; right: 0; bottom: 0;
            box-shadow: 0px 0px 0px 1px; border-radius: 50%;
            opacity: 0.5;
          }
        }

        p {
          color: $gray;
        }

        &.text-primary {
          p {font-weight: bold; color: $gray-dark;}
        }

        &.text-success {
          .step-icon {
            &:after {
              content: "\f058";
              font-family: FontAwesome;
              position: absolute; top: 0; right: 0.2rem;
              display: block; width: 1rem; height: 1rem;
              font-size: 1.3rem; line-height: 1rem;
              background: #fff;
              border: 0px; border-radius: 50%;
            }
          }
        }

        &:nth-child(2) {
          position: relative; z-index: 1;
          &:before {
            content: '';
            position: absolute; top: 2rem; left: -50%; right: -50%;
            display: block; width: 200%; height: 1px; 
            background: $gray-light; opacity: 0.5;
          }
        }

        @media (max-width: 840px) {
          &.text-muted p,
          &.text-success p,
          &.text-primary p .hidden-sm-down {display: none;}
        }
      }
    }
  }

  .subscriptions-wrap {
    .col {
      position: relative; z-index: 1;

      .card {
        overflow:hidden;
        button.btn.btn-primary {
          border-radius: 0;
        }

        h3.text-primary {color: $gray-dark !important;}

        &:hover {
          cursor: pointer;
          box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.11);
          button {cursor: pointer}
        }
      }

      

      &:before {
        content: "\f058";
        position: absolute; top: -0.5rem; left: 50%; z-index: 5;
        font-size: 2.5rem; font-family: FontAwesome; color: $green; line-height: 0.95rem;
        background: #fff;
        border-radius: 50%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        opacity: 0;
        transition: opacity 400ms ease-in;
      }

      &.active {
        .card {
          border: 2px solid $green;

          button.bnt.btn-primary {
            border-color: $green; background-color: $green;
          }

        }
        &:before {opacity: 1;}
      }
    }
  }
}
