.toy-props {
  padding: 0; margin-bottom: 3rem;
  list-style-type: none;

  li {
    margin-bottom: 0.5rem;
  }
  i {
    display: inline-block;
    width: 1.5rem;
    color: $green; text-align: center;
  }
}

.msg-actions {
  a {
    color: inherit;
    &:hover {
      color: $pink;
    }
  }
}

.display-3.display-sm {font-size: 30px}
.avatar-msg-img {border-radius: 4px;}
.avatar-sm {
  display: inline-block; vertical-align: middle;
  margin-right: 14px;

  img {height: 42px !important; width: auto !important;}
}

.given-user-data-avatar {
  display: inline-block; vertical-align: middle;
  margin: 0 2px 0 2px;

  img {height: 22px !important; width: auto !important; margin: 0}
}

@media (max-width: 768px) {
  .display-3.display-sm {font-size: 20px; margin-top: 35px;}
  .reply-form {
    .btn {width: 100%; margin: 0 0 20px !important;}
  }
}